.container {
  margin: 0 auto;
  /* width: 1000px; */
}

header h1 {
  color: red;
}

.diamond {
  position: relative;
  display: flex;
  border: 2px solid burlywood;
  width: 400px;
  height: 400px;
  transform: rotate(45deg);
  margin: 150px 0 0 100px;
  justify-content: center;
  background: green;
}

.base {
  width: 25px;
  height: 25px;
  background: white;
  position: absolute;
}

.first {
  top: 0;
  right: 0;
}

.second {
  top: 0;
  left: 0;
}

.third {
  bottom: 0;
  left: 0;
}

.home {
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  clip-path: polygon(17% 66%, 63% 16%, 100% 54%, 100% 100%, 51% 100%);
}

#pitchers-mound {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 150px;
  height: 150px;
  transform: rotate(-45deg);
  background: burlywood;
  border-radius:  50%;
}

.clicked {
  background-color: yellow;
}